.o-notifyListCard {
    $root: &;
    position: relative;
    z-index: 200;
    background-color: $white;

    &:hover {
        background-color: $columbia-blue;
    }

    &_wrapper {
        padding: rem(5) rem(0);

        &_heading {
            @include adjust-flex(flex-start, center);
        }
    }

    &_image {
        min-width: rem(50);
        height: rem(50);

        @include tablet-down {
            margin-right: rem(10);
        }

        img {
            width: rem(30);
            height: rem(30);
            padding: rem(2);
            top: 20%;
            left: 20%;
        }
    }

    &_title {
        &_main {
            @include text-overflow(3);
            min-height: rem(26);
        }

        &_date {
            @include adjust-flex(space-between);
            margin-top: rem(5);
            margin-left: rem(54);
            margin-right: rem(10);
        }
    }

    &-isVertical {
        background-color: $alice-blue;
    }
}

.o-CardNotifyList {
    $root: &;
    border-radius: rem(10);
    box-shadow: 0 rem(2) rem(20) $black-025;
    overflow: hidden;
    // position: absolute;
    right: 0;
    width: rem(340);
    transform: translateY(rem(10));
    z-index: 99;
    background-color: $white;

    &_title {
        @include adjust-flex(space-between);
        padding: rem(10) rem(15);
        border-bottom: rem(1) solid $columbia-blue;



        #{$root}_title_title {
            position: absolute;
            background-color: $bright-Navy-blue;
            top: -20%;
            right: 155%;
            width: rem(117);
            @include adjust-flex();
            border-radius: rem(3);
            visibility: hidden;
            opacity: 0;

            .a-typography {
                position: relative;
                padding: rem(3) rem(6);
            }

            .a-icon {
                position: absolute;
                top: 23%;
                left: 96%;
            }
        }

        &_icon {
            position: relative;
            cursor: pointer;

            &:hover {
                #{$root}_title_title {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    &_list {
        max-height: 80vh;
        overflow: scroll;
        @include scroll-bars(1, $bright-Navy-blue, $white, 10, 1, 10);

        &-no {
            padding: rem(20) 0;
        }

        &_item {
            border-bottom: rem(1) solid $columbia-blue;

        }
    }

    &_button {
        button {
            padding: rem(10) 0;
            box-shadow: none;
        }
    }

    @include break-max(rem(580)) {
        width: 90vw !important;
        max-height: 90vh;
        position: absolute;
    }
}